<section>
    <article style="height: 650px">
        <div class="uk-container-fluid uk-position-center-left uk-padding-large">
            <h1 class="uk-margin-large-bottom">t{{welcomeHeader}}</h1>
            <div class="uk-margin-auto">
                <div class="uk-margin-auto uk-grid-small" uk-grid uk-countdown="date: 2022-01-01T00:00:00+00:00">
                    <div>
                        <div class="uk-countdown-number uk-countdown-days"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">t{{days}}</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-hours"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">t{{hours}}</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-minutes"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">t{{minutes}}</div>
                    </div>
                    <div class="uk-countdown-separator">:</div>
                    <div>
                        <div class="uk-countdown-number uk-countdown-seconds"></div>
                        <div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">t{{seconds}}</div>
                    </div>
                </div>
                <h2 class="">t{{welcomeSubheader}}</h2>
            </div>
            <a class="uk-button uk-button-large uk-button-secondary uk-margin-top"
               style="border-radius: 50px; border-color: black; width: 250px;">t{{readMore}}</a>
        </div>
    </article>
</section>
<section>
    <article>
        <div>
            <div class="" uk-grid>
                <div class="uk-width-1-2@m uk-padding-large">
                    <p class="uk-text-muted uk-margin-large-left uk-text-uppercase">t{{whyIDoItHeader}}</p>
                    <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #4fe278;">
                    <h1 class="uk-margin-small-top uk-margin-bottom uk-margin-large-left">t{{whyIDoItSubheader}}</h1>
                    <p class="uk-margin-large-left">t{{whyIDoItParagraph1}}
                    <p class="uk-margin-large-left">t{{whyIDoItParagraph2}}
                    </p>
                </div>
                <div class="uk-width-1-2@m uk-margin-top uk-padding-large">
                    <img src="/assets/depressed.png" class="" alt="">
                </div>
            </div>
        </div>
    </article>
    <article style="background-color: #FAFAFA;">
        <div class="uk-padding-large" uk-grid>
            <div class="uk-width-1-2@m">
                <img src="/assets/strategy-02.png" class="uk-visible@m uk-margin-large-top" alt="">
            </div>
            <div class="uk-width-1-2@m uk-padding-large">
                <p class="uk-text-muted uk-text-uppercase uk-margin-remove">t{{howIDoItHeader}}</p>
                <hr class="" style="width: 100px; border-top: 5px solid #4fe278;">
                <h1 class="uk-margin-top uk-margin-bottom">t{{howIDoItSubheader}}</h1>
                <p>t{{howIDoItParagraph}}</p>
                <ul>
                    <li class="uk-list"><span
                            class="uk-text-uppercase uk-margin-small-right uk-text-success uk-text-bold">t{{firstRule}}</span>t{{firstRuleParagraph}}
                    </li>
                    <li class="uk-list"><span
                            class="uk-text-uppercase uk-margin-small-right uk-text-success uk-text-bold">t{{secondRule}}</span>t{{secondRuleParagraph}}
                    </li>
                    <li class="uk-list"><span
                            class="uk-text-uppercase uk-margin-small-right uk-text-success uk-text-bold">t{{thirdRule}}</span>t{{thirdRuleParagraph}}
                    </li>
                </ul>
                <a class="uk-button uk-button-large uk-button-secondary uk-margin-top"
                   style="border-radius: 50px; border-color: black; width: 250px;">t{{seePortfolioButton}}</a>
            </div>
        </div>
    </article>
    <article>
        <div class="" uk-grid>
            <div class="uk-width-1-2@m uk-padding-large">
                <p class="uk-text-muted uk-margin-large-left uk-text-uppercase">t{{implementationHeader}}</p>
                <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #4fe278;">
                <h1 class="uk-margin-top uk-margin-bottom uk-margin-large-left">t{{implementationSubheader}}</h1>
                <p class="uk-margin-large-left">t{{implementationParagraph1}}</p>
                <p class="uk-margin-large-left">t{{implementationParagraph2}}</p>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-margin-large-top" src="/assets/thinking-2-04.png" alt="">
            </div>
        </div>
    </article>
    <article>
        <div class="uk-light">
            <div class="uk-overlay-primary" uk-grid>
                <div class="uk-width-1-2@m uk-padding-large">
                    <p class="uk-text-muted uk-margin-large-left uk-text-uppercase uk-margin-large-top">My
                        background</p>
                    <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #4fe278;">
                    <h1 class="uk-margin-small-top uk-margin-bottom uk-margin-large-left">We are ordinary people in an
                        ordinary world</h1>
                    <p class="uk-margin-large-left">Together with my husband, the three kids of us and a dog originally
                        called Max we
                        create an
                        ordinary Polish
                        family. We live in a small flat which we are very happy to have.
                    </p>
                </div>
                <div class="uk-width-1-2@m" style="background-image: url(/assets/family.jpg); background-size: cover;">
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="uk-padding-large uk-margin-auto" style="max-width: 80%">
            <p class="uk-text-muted uk-text-uppercase uk-margin-remove">Portfolio</p>
            <hr class="" style="width: 100px; border-top: 5px solid #4fe278;">
            <p class="uk-margin-large-bottom">These are my products & ideas I consider to be forward-looking in terms of
                spreading an environmentally-neutral approach to living and enhancing our quality of life.</p>
            <div class="uk-child-width-1-3@m" uk-grid="masonry: true">
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/zero-waste-blog.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">#ZeroWasteChallenge blog</h3>
                            <p>I share my transformation to zero waste in real time</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in development</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/swapping.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Local Swapper</h3>
                            <p>An app based on user location to let people turn waste into useful stuff</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/digital-traveller.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Digital Traveller Online</h3>
                            <p>A project of an app to enable easy share their local to community</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/sztukoterapia.jpeg" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Sztukoterapia.pl</h3>
                            <p>I share the knowledge how to reduce stress by creating art.</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in production</span>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/wenecja.png" alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Novador.pl</h3>
                            <p>I create zero waste Art & Home Decor brand</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">in development</span>
                        </div>
                        <div class="uk-card-footer">
                            <a href="#" class="uk-button uk-button-text">Read more</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default">
                        <div class="uk-card-media-top">
                            <img src="/assets/closeup-shot-beautiful-bee-eater-bird-perched-tree-branch-blurred-background.jpg"
                                 alt="">
                        </div>
                        <div class="uk-card-body">
                            <h3 class="uk-card-title">Wild Pets</h3>
                            <p>The app enables ordinary people to watch and protect wildlife instead of buying pets</p>
                            <span class="uk-text-muted">Stage: </span>
                            <span class="uk-text-success">wireframes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <article>
        <div class="" uk-grid>
            <div class="uk-width-1-2@m uk-padding-large">
                <p class="uk-text-muted uk-margin-large-left uk-text-uppercase">t{{whatNextHeader}}</p>
                <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #4fe278;">
                <h1 class="uk-margin-top uk-margin-bottom uk-margin-large-left">t{{whatNextSubheader}}</h1>
                <p class="uk-margin-large-left">t{{whatNextParagraph1}}</p>
                <p class="uk-margin-large-left">t{{whatNextParagraph2}}</p>
            </div>
            <div class="uk-width-1-2@m">
                <img class="uk-align-center" src="/assets/future-03.png" alt="">
            </div>
        </div>
    </article>
</section>

<article>
    <div class="uk-light">
        <div class="uk-overlay-primary" uk-grid>
            <div class="uk-width-1-2@m uk-padding-large">
                <p class="uk-text-muted uk-margin-large-left uk-text-uppercase">t{{aboutMeHeader}}</p>
                <hr class="uk-margin-large-left" style="width: 100px; border-top: 5px solid #4fe278;">
                <h1 class="uk-margin-small-top uk-margin-bottom uk-margin-large-left">t{{aboutMeSubheader}}</h1>
                <p class="uk-light uk-margin-large-left">t{{aboutMeParagraph1}}</p>
                <p class="uk-light uk-margin-large-left">t{{aboutMeParagraph2}}</p>
            </div>
            <div class="uk-width-1-2@m">
                <img src="/assets/id-card-exposition.png" class="" alt="">
            </div>
        </div>
    </div>
</article>
<article>
    <div class="uk-padding-large" style="background: rgb(72,201,108);
background: linear-gradient(47deg, rgba(72,201,108,1) 0%, rgba(60,203,143,1) 100%);" uk-grid>
        <div class="uk-width-2-3">
            <h2 class="uk-light">Zapraszam do kontaktu i współpracy przez linkedIn. </h2>
        </div>
        <div class="uk-width-1-3">
            <button class="uk-button uk-button-default uk-button-large uk-align-right uk-text-bold" style="border-radius: 50px; background-color: white; color: black; border: none;">
                <img src="/assets/linked-black-logo.png" class="uk-margin-small-right uk-text-middle" alt="" width="24px">
                Wyświetl profil</button>
        </div>
    </div>
</article>


